@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  border-radius: 10px;
}

#root {
  display: flex;
  justify-content: center;
  align-content: center;
}


.todoList {
  width: 500px;
  height: 600px;
  display: flex;
  background: #1A1A40;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

h3 {
  color: #fff;
  margin:0;
  font-size: 1;
}

.todoListHeader {
  background-color: #4a2f6b;
  margin: 10px 0 0 0;
  height: 25px;
  padding: 10px 0;
  width: 250px;
  text-align: center;
  color: #fff;
}

.todoGroup {
  padding-top: 10px;
  width: 450px;
  height: 350px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #eee8ff;
  overflow-y: auto;
}
.todoGenerator {
  height: 50px;
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todoGenerator input[type="text"] {
  width: 75%;
  border-radius: 0;
  height: 30px;
  border: none;
  outline: none;
  font-size: 24px;
  height: 80%;
  border-radius: 25px;
}

.todoGenerator button {
  width: 22%;
  height: 80%;
  background-color: #8758ff;
  color: #fff;
  border: none;
  outline: none;
  font-size: 20px;
  border-radius: 25px;
  cursor: pointer;
  
}

.todoItem {
  width: 400px;
  text-align: center;
  padding: 10px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  margin: 5px;
  font-size: 20px;
}


 
